<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="https://tdakuzaku.github.io/Tiago-Dakuzaku/css/main.css">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="https://tdakuzaku.github.io/Tiago-Dakuzaku/">Home</a></li>
                <li><a href="https://tdakuzaku.github.io/Tiago-Dakuzaku/about">About</a></li>
                <li><a href="https://tdakuzaku.github.io/Tiago-Dakuzaku/cv">CV</a></li>
                <li><a href="https://tdakuzaku.github.io/Tiago-Dakuzaku/blog">Blog</a></li>
            </ul>
        </nav>
        <div class="container">
            {{ content }}
        </div>
        <footer>
            <ul>
                <li><a href="mailto:tdakuzaku@gmail.com">email</a></li>
                <li><a href="https://github.com/tdakuzaku">github.com/tdakuzaku</a></li>
            </ul>
        </footer>
    </body>
</html>
